<div class='panel panel-primary'>
  <div class='panel-heading'>
      Product List
  </div>
  <div class='panel-body'>
      <div class='table-responsive'>
          <input type="text" [(ngModel)]='txtFilter'>
         <!-- <table class='table' 
          *ngIf='products && products.length' > -->
          <table class='table'>
              <thead>
                  <tr>
                      <th>Product</th>
                      <th>Code</th>
                      <th>Available</th>
                      <th>Price</th>
                  </tr>
              </thead>
              <tbody>
                 <tr *ngFor='let product of asyncProducts | async | productFilter : txtFilter '>
                   <!--<tr *ngFor='let product of products'>-->
                      <td>
                         <a [routerLink]="['/product', product.productId]"> {{ product.productName }} </a> 
                         <!-- <a [routerLink]="['/product?id=', product.productId]"> {{ product.productName }} </a> -->
                       </td>
                      <td>{{ product.productCode }}</td>
                      <td>{{ product.releaseDate }}</td>
                      <td>{{ product.price }}</td>
                      <td><button (click)='remove(product.productId)'>Delete</button></td>                     
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
<!--<div *ngIf='!products || !products.length' class='alert alert-danger'>
  No data found
</div>-->