    <div class='panel-body'>
        <div class='table-responsive'>
         <table class='table' *ngIf='product' >
                <thead>
                    <tr>
                        <th>ProductId</th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>description</th>
                        <th>starRating</th>
                        <th>imageUrl</th>
                    </tr>
                </thead>
                <tbody>
                     <tr >
                        <td>{{ product.productId }}</td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.starRating }}</td>
                        <td>{{ product.imageUrl }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf='!product' class='alert alert-danger'>
     No data found
    </div>